html {
    width: 100%; 
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 890px;
    width: 1920px;
}

.Title {
    display: flex;
    justify-content: space-between;
    border: 10px solid black;
    height: 150px;
    width: auto;
}

.Heading1 {
    font-size: 128px;
    font-family: "Crimson Pro";
}

.Explain {
    display: flex;
    justify-content: center;
    border: 10px solid black;
    width: 786px;
    height: 119px;
    position: relative;
    left: 550px;
    top: 10px;
}

.Genre {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.One {
    display: flex;
    justify-content: center;
    width: 288px;
    height: 60px;
    border: 10px solid black;
    position: relative;
    right: 10px;
}

.Two {
    display: flex;
    justify-content: center;
    width: 288px;
    height: 60px;
    border: 10px solid black;
}

.Three {
    display: flex;
    justify-content: center;
    width: 288px;
    height: 60px;
    border: 10px solid black;
    position: relative;
    left: 10px;
}

.Main-Body {
    display: grid;
    grid-template-areas: 
    'auto auto auto auto auto';
    height: 330px;
    width: 1000px;
    position: relative;
    left: 450px;
    top: 30px;
    text-transform: uppercase;
}

.TLC {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    background-color: #ffffff;
    color: #ffffff;
}

.T {
    border-top: 10px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    background-color: #f1f1f1;
    color: #000000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 228px;
    height: 45px;
}

.Tt {
    font-size: 50px;
    position: relative;
    bottom: 10px;
}

.TRC {
    border-top: 10px solid black;
    border-right: 10px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;  
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 228px;
    height: 45px;
}

.TRCc {
    font-size: 50px;
    position: relative;
    bottom: 10px;
}

.LS {
    border-left: 10px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.M {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.BLC {
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    border-top: 5px solid black;
    border-right: 5px solid black;
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.B {
    border-bottom: 10px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-top: 5px solid black;
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.RS {
    border-right: 10px solid black;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.BRC {
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-top: 5px solid black;
    border-left: 5px solid black;
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}